@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&display=swap');

.jumbotron, .card-body, .container, .site-header{
    font-family: 'Raleway', serif !important;
}

.jumbotron .display-4{
    font-weight: bold;
}


.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead{
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone{
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert{
  position: fixed;
  top:80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top:50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.menu{
  padding: 0px 10px 0px 10px;
  margin: -7px 0px;
}

.avatar{
  height: 100px;
  width: 100px;
  margin-top: -60px;
  margin-bottom: 10px;
}

.heatherLogin{
  height: 20%;
  width: 55%;
  margin-bottom: 50px;
}

.btn-login {
    font-family: 'Roboto', sans-serif;
    background-color: #d61ca9;
    border-color: #96109d;
    margin: 10px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #9707b6;
    border-color: #8c27ac;
}

.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #8417ce;
    border-color: #210349;
}

.products{
margin-bottom: 10px;
margin-top: 10px;
}

.separador > s {
    width: calc(50% - 77px);
    height: 1px;
    margin-bottom: 3px;
    display: inline-block;
    background: #a01cd6;
}

.btnLogGoogle{
margin-bottom: 10px;
display: inline-block;
}

.logoMenu{
margin-right: 25px;
}

.filtrosArticulos.focus.active{
  background-color: #c40f5d !important;
}

.filtrosArticulos.active{
  background-color: #c40f5d !important;
}

.filtrosArticulos{
  background-color: #d61c6c ;
}

#dropdownMenuButtonUser {
    margin: 12px 0px 0px 10px;
    background-color: #922ae7;
    font-family: 'Roboto', sans-serif;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #f8f9fa;
    background-clip: padding-box;
    border: 1px solid #a5139d;
    border-radius: .3rem;
    outline: 0;
}



body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: left;
    background-color: #ff00b600;
}

.bg-dark {
    background-color: #de00ff52!important;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #f100ff;
    background-color: #f600ff;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #000;
}

.navbar-dark .navbar-nav .nav-link {
    color: #000000b3;
}

#user{
  border-radius: 50%;
}

.btn-danger {
    color: #fff;
    background-color: #7f1eb6;
    border-color: #9535dc;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #7b1aa7;
    border-color: #6f35dc;
}

.btn-outline-danger:not(:disabled):not(.disabled).active, .btn-outline-danger:not(:disabled):not(.disabled):active, .show>.btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: #6500b8;
    border-color: #6735dc;
}

.btn-outline-danger:not(:disabled):not(.disabled).active:focus, .btn-outline-danger:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(53 68 220 / 50%);
}

.btn-outline-danger.focus, .btn-outline-danger:focus {
    box-shadow: 0 0 0 0.2rem rgb(46 7 174 / 50%);
}

.btn-danger:hover {
    color: #fff;
    background-color: #3c17a1;
    border-color: #4921bd;
}

.btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show>.btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #3e088c;
    border-color: #4312a0;
}

.btn-danger:not(:disabled):not(.disabled).active:focus, .btn-danger:not(:disabled):not(.disabled):active:focus, .show>.btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(53 18 167 / 50%);
}

.filtrosArticulos.active {
    background-color: #6a0fc4 !important;
}

.badge-primary {
    color: #fff;
    background-color: #de02f1;
}

a.badge-primary:focus, a.badge-primary:hover {
    color: #fff;
    background-color: #8300cc;
}

a:hover {
    color: #d61cc8;
    text-decoration: underline;
}

.badge-primary {
    color: #fff;
    background-color: #d300ff;
}

.btn-link:hover {
    color: #4500b3;
    text-decoration: underline;
}

.btn-link {
    font-weight: 400;
    color: #fb00ff;
    text-decoration: none;
}

.btn-outline-primary {
    color: #cc00ff;
    border-color: #ce00ff;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #6427ce;
    border-color: #620cbe;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #6900ff;
    border-color: #6400ff;
}

.checked {
    color: #ef02ff;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.btn-outline-danger {
    color: #8c35dc;
    border-color: #9535dc;
}

a {
    color: #4f04a1;
    text-decoration: none;
    background-color: transparent;
}

a {
    color: #4105a1;
    text-decoration: none;
    background-color: transparent;
}

/* estilos product-info */

.product-gallery {
  position: relative;
  padding-top: 74px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border: 1px solid #e1e7ec;
  border-radius: 7px;
}

.product-gallery .product-thumbnails>li {
  display: inline-block;
  margin: 0 3px 10px;
}


.comentarios>ul>li>a{
  margin-bottom: -1px;
}

.tab-content.border{
  padding: 15px;
}

.product-thumbnails{
  margin-left: 3px;
  margin-top: 15px;
}

.product-thumbnails>a>img{
  width: 97px;
  padding: 3px;
}

.product-card.border{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.fas.fa-tag{
  color: #007bff;
}

.product-card.border{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
}

.imgRelated{
  width: 100%;
  margin-bottom: 5px;
}

.comment{
  padding: 15px;
}
.comment-body{

background-color: #f3f3f3;
padding: 15px;
border-radius: 10px;
}

.comment-author-ava{
  width: 50px;
}

.comment .fas.fa-caret-left{
  color: #f3f3f3;
  width: 12px;
}

.comment-author-ava>img{
  width: 100%;
}

.list-group-item img{
  width: 100%;
}

.btn-primary {
    color: #fff;
    background-color: #cf2ae7;
    border-color: #871cd6;
}

a {
    color: #cf2ae7;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #d61cc8;
    text-decoration: underline;
}

.product-gallery {
  position: relative;
  padding-top: 74px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border: 1px solid #e1e7ec;
  border-radius: 7px;
}

.product-gallery .product-thumbnails>li {
  display: inline-block;
  margin: 0 3px 10px;
}


.comentarios>ul>li>a{
  margin-bottom: -1px;
}

.tab-content.border{
  padding: 15px;
}

.product-thumbnails{
  margin-left: 3px;
  margin-top: 15px;
}


.product-thumbnails>a>img{
  width: 97px;
  padding: 3px;
}

.product-card.border{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.fas.fa-tag{
  color: #007bff;
}

.product-card.border{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
}

.imgRelated{
  width: 100%;
  margin-bottom: 5px;
}

.comment{
  padding: 15px;
}
.comment-body{

background-color: #f3f3f3;
padding: 15px;
border-radius: 10px;
}

.comment-author-ava{
  width: 50px;
}


.comment-author-ava>img{
  width: 100%;
}


.cant{
  width: 20px;
}


#nomProduct{
  width: 200px;
}

#nomProduct img{
  height: 100px;
}

#infoCarrito{
  border-radius: 10px;
}

/*Estilos de la tarjeta*/
.contenedor {
  width: 90%;
  max-width: 1000px;
  padding: 40px 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 830px;
  width: 740px;
}


.tarjeta {
  width: 100%;
  max-width: 550px;
  position: relative;
  color: #fff;
  transition: .3s ease all;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  cursor: pointer;
  z-index: 2;
}

.tarjeta.active {
  transform: rotateY(180deg);
}

.tarjeta > div {
  padding: 30px;
  border-radius: 15px;
  min-height: 315px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 10px 10px 0 rgba(90,116,148,0.3);
}

/* ---------- Tarjeta Delantera ----------*/

.tarjeta .delantera {
  width: 100%;
  background: url(../img/bg-tarjeta/bg-tarjeta-03.jpg);
  background-size: cover;
}

.delantera .logo-marca {
  text-align: right;
  min-height: 50px;
}

.delantera .logo-marca img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 80px;
}

.delantera .chip {
  width: 100%;
  max-width: 50px;
  margin-bottom: 20px;
}

.delantera .grupo .label {
  font-size: 16px;
  color: #7d8994;
  margin-bottom: 5px;
}

.delantera .grupo .numero,
.delantera .grupo .nombre,
.delantera .grupo .expiracion {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}

.delantera .flexbox {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* ---------- Tarjeta Trasera ----------*/
.trasera {
  background: url(../img/bg-tarjeta/bg-tarjeta-03.jpg);
  background-size: cover;
  position: absolute;
  top: 0;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.trasera .barra-magnetica {
  height: 40px;
  background: #000;
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0;
}

.trasera .datos {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.trasera .datos p {
  margin-bottom: 5px;
}

.trasera .datos #firma {
  width: 70%;
}

.trasera .datos #firma .firma {
  height: 40px;
  background: repeating-linear-gradient(skyblue 0, skyblue 5px, orange 5px, orange 10px);
}

.trasera .datos #firma .firma p {
  line-height: 40px;
  font-family: 'Liu Jian Mao Cao', cursive;
  color: #000;
  font-size: 30px;
  padding: 0 10px;
  text-transform: capitalize;
}

.trasera .datos #ccv {
  width: 20%;
}

.trasera .datos #ccv .ccv {
  background: #fff;
  height: 40px;
  color: #000;
  padding: 10px;
  text-align: center;
}

.trasera .leyenda {
  font-size: 14px;
  line-height: 24px;
}

.trasera .link-banco {
  font-size: 14px;
  color: #fff;
}

/* ---------- Contenedor Boton ----------*/
.contenedor-btn .btn-abrir-formulario {
  width: 50px;
  height: 50px;
  font-size: 20px;
  line-height: 20px;
  background: #2364d2;
  color: #fff;
  position: relative;
  top: -25px;
  z-index: 3;
  border-radius: 100%;
  box-shadow: -5px 4px 8px rgba(24,56,182,0.4);
  padding: 5px;
  transition: all .2s ease;
  border: none;
  cursor: pointer;
}

.contenedor-btn .btn-abrir-formulario:hover {
  background: #1850b1;
}

.contenedor-btn .btn-abrir-formulario.active {
  transform: rotate(45deg);
}

/* ---------- Formulario Tarjeta ----------*/
.formulario-tarjeta {
  background: #fff;
  width: 100%;
  max-width: 700px;
  padding: 150px 30px 30px 30px;
  border-radius: 10px;
  position: relative;
  top: -150px;
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path .3s ease-out;
}

.formulario-tarjeta.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.formulario-tarjeta label {
  display: block;
  color: #7d8994;
  margin-bottom: 5px;
  font-size: 16px;
}

.formulario-tarjeta input,
.formulario-tarjeta select,
.btn-enviar {
  border: 2px solid #CED6E0;
  font-size: 18px;
  height: 50px;
  width: 100%;
  padding: 5px 12px;
  transition: .3s ease all;
  border-radius: 5px;
}

.formulario-tarjeta input:hover,
.formulario-tarjeta select:hover {
  border: 2px solid #93BDED;
}

.formulario-tarjeta input:focus,
.formulario-tarjeta select:focus {
  outline: rgb(4,4,4);
  box-shadow: 1px 7px 10px -5px rgba(90,116,148,0.3);
}

.formulario-tarjeta input {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.formulario-tarjeta .flexbox {
  display: flex;
  justify-content: space-between;
}

.formulario-tarjeta .expira {
  width: 100%;
}

.formulario-tarjeta .ccv {
  min-width: 100px;
}

.formulario-tarjeta .grupo-select {
  width: 100%;
  margin-right: 15px;
  position: relative;
}

.formulario-tarjeta select {
  -webkit-appearance: none;
}

.formulario-tarjeta .grupo-select i {
  position: absolute;
  color: #CED6E0;
  top: 18px;
  right: 15px;
  transition: .3s ease all;
}

.formulario-tarjeta .grupo-select:hover i {
  color: #93bfed;
}

.formulario-tarjeta .btn-enviar {
  border: none;
  padding: 10px;
  font-size: 22px;
  color: #fff;
  background: #2364d2;
  box-shadow: 2px 2px 10px 0px rgba(0,85,212,0.4);
  cursor: pointer;
}

.formulario-tarjeta .btn-enviar:hover {
  background: #1850b1;
}


#botoncito{
    margin-left: 27%;
    margin-top: 20px;
}

.contenedor-btn .btn-abrir-formulario {
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 20px;
    background: #640aa7;
    color: #fff;
    position: relative;
    top: -25px;
    z-index: 3;
    border-radius: 100%;
        box-shadow: -5px 4px 8px rgb(210 89 252 / 49%)
    padding: 5px;
    transition: all .2s ease;
    border: none;
    cursor: pointer;
}

.contenedor-btn .btn-abrir-formulario:hover {
    background: #9d2ccc;
}
.btn-abrir-formulario:hover {
    background: #910f81;
}